 <div class="row">
    <div class="col-sm-12">
        <div class="header-title m-t-0 m-b-20">
          <div class="row">
            <div class="col-md-6">
              <h5>Servicios o Productos Únicos</h5>
            </div>
            <div class="col-md-6">
              <div class="text-right"><%= link_to 'Nuevo servicio/producto', new_service_path, class: 'btn btn-primary' %>

            </div>
          </div>

        </div>

    </div>                 
</div>      

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">

        <table class="table table-sm color-table primary-table" data-page-list="[10, 25, 50, 100, Todos]" data-pagination="true" data-search="true" data-show-columns="true" data-show-export="true" data-show-toggle="true" data-side-pagination="server" data-sort-name="name" data-sort-order="asc" data-toggle="table" data-url="<%= services_path(format: :json) %>" id="services-table">
          <thead>
            <tr>
              <th data-field="name" data-sortable="true">Nombre/Descripción</th>
              <th data-field="price" >Precio</th>
              <th class="td-actions text-center" data-field="actions"></th>
            </tr>
          </thead>
        </table>

      </div>  

      <br>


    </div>          
  </div>
  
</div>

