
 <div class="row">
    <div class="col-sm-12">
        <div class="header-title m-t-0 m-b-20">
          <div class="row">
            <div class="col-md-6">
              <h5>Dosificaciones de Factura</h5>
            </div>
            <div class="col-md-6">
              <div class="text-right"><%= link_to 'Nueva Dosificación', new_invoice_dosage_path, class: 'btn btn-primary' %>

            </div>
          </div>

        </div>

    </div>                 
</div>      

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">

        <table class="table table-sm" data-page-list="[10, 25, 50, 100, Todos]" data-pagination="true" data-search="true" data-show-columns="true" data-show-export="true" data-show-toggle="true" data-side-pagination="server" data-sort-name="emission_deadline" data-sort-order="asc" data-toggle="table" data-url="<%= invoice_dosages_path(format: :json) %>" id="invoice_dosages-table">
          <thead>
            <tr>
              <th data-field="authorization_number" data-sortable="true">Número de Autorización</th>  
              <th data-field="emission_deadline" data-sortable="true">Fecha Límite de Emisión</th>             
              <th data-field="economic_activity" data-sortable="true">Actividad Económica</th>  
              <th data-field="active" data-sortable="true">Activa</th>             
              <th class="td-actions text-center" data-field="actions"></th>
            </tr>
          </thead>
        </table>

      </div>  

      <br>


    </div>          
  </div>
  
</div>

