<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Nueva Factura de Compra</h4>
    </div>
                <div class="col-md-6">
            </div>                 
</div>   

<%= render 'form', purchase: @purchase %>

