 <div class="row">
    <div class="col-sm-12">
        <h4 id="title" class="header-title m-t-0 m-b-20">Nueva Categoría</h4>
    </div>                 
</div>   

<%= render 'form', category: @category %>

