<div class="footer">
    <!-- <div class="pull-right hide-phone">
        Project Completed <strong class="text-custom">57%</strong>.
    </div> -->
    <div>
        <strong>Tiluu</strong> - Copyright © 2021
    </div>
</div>